@import "../../variables";

/* Smaller then Desktop*/
.sidebar {
  display: inline;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    color: white;
    display: block;
    transition: 0.3s;
  }

  a:hover {
    background-color: white;
    color: black;
  }

  .order_online_link {
    background-color: green;
    color: white;
  }

  .order_online_link:hover {
    background-color: white;
    color: green;
  }
}

.navbar {
  * {
    clear: both;
  }

  clear: both;
  justify-content: space-between;
  padding: 5px 5px;
  z-index: 1;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  animation: moveDown 0.5s ease-in-out;
  height: $app-header-height;

  a {
    height: 100%;
    padding: 12px 8px 12px 32px;
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    color: white;
    transition: 0.3s;
  }

  a:hover {
    background-color: white;
    color: black;
  }

  .order_online_link {
    position: absolute;
    float: left;
    left: 0;
    padding: 5px;
    margin: 5px 10px 0px 10px;
    background-color: green;
    color: white;
  }

  .order_online_link:hover {
    background-color: white;
    color: green;
  }
}

.navbar {
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 8px 15px;
    border: none;
    left: 0;
  }

  .openbtn:hover {
    background-color: #444;
  }

  .top_link {
    display: none;
  }

  .order_online_link {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* Desktop */

  .sidebar {
    display: none;
  }

  .navbar {
    text-align: center;

    * {
      clear: both;
    }

    .closebtn {
      display: none;
    }

    .openbtn {
      display: none;
    }

    .top_link {
      display: inline;
    }

    .order_online_link {
      display: inline;
    }
  }
}
  }
}
