@import "../../variables";

.navbar {
  * {
    clear: both;
  }

  clear: both;
  justify-content: space-between;
  padding: 5px 5px;
  z-index: 1;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  animation: moveDown 0.5s ease-in-out;
  height: $app-header-height;
  display: inline-block;

  .logo {
    position: absolute;
    text-decoration: none;
    left: 20px;
    font-size: 25px;
    color: green;
  }

  .links_block {
    position: absolute;
    top: 0;
    right: 20px;
    height: $app-header-height;

    .link {
      line-height: $app-header-height;
      position: relative;
      padding-left: 20px;
      text-decoration: none;
      font-size: 14px;
      color: white;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* Desktop */
}
