@import "../../variables";

.navbar {
  * {
    clear: both;
  }

  clear: both;
  justify-content: space-between;
  padding: 5px 5px;
  z-index: 1;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  animation: moveDown 0.5s ease-in-out;
  height: $app-header-height;

  .link {
    height: 100%;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    color: white;
    transition: 0.3s;
  }

  .link:hover {
    background-color: white;
    color: black;
  }
}

@media only screen and (min-width: 768px) {
  /* Desktop */
}
