@import "../../sass/variables";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $app-footer-height;

  background-color: white;
  border-top: 2px solid black;
  text-align: center;
  overflow: hidden;

  label,
  a {
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
    line-height: $app-footer-height;
  }
}
