@import "../../sass/variables";

* {
  box-sizing: border-box;
}

.q7l_auctions {
  position: relative;
  height: 100%;
  width: 100%;

  $item-height: 125px;
  .q7l_item {
    position: relative;
    height: $item-height;
    width: auto;
    border: 2px solid black;
    margin: 10px 3px 20px 3px;

    .q7l_title {
      position: absolute;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      top: 0px;
      left: 0px;
      margin: 15px;
      height: 50px;
      width: calc(100% - 30px);
    }

    .q7l_expiration_date {
      position: absolute;
      bottom: 30px;
      left: 10px;
      font-size: 12px;
    }

    .q7l_price {
      position: absolute;
      bottom: 5px;
      left: 10px;
      left: 10px;
      font-weight: bold;
    }

    .q7l_watching {
      background-color: white;
      color: black;
      cursor: pointer;
      border: none;
      position: absolute;
      bottom: 15px;
      right: 10px;
      font-style: italic;
    }
  }
}

@media only screen and (min-width: 768px) {
  .q7l_auctions {
    .q7l_item {
      margin: 10px 150px 20px 150px;
    }
  }
}
