@import "../../sass/variables";

* {
  box-sizing: border-box;
}

.auctions {
  position: relative;
  height: 100%;
  width: 100%;

  $item-height: 125px;
  .item {
    position: relative;
    height: $item-height;
    width: auto;
    border: 2px solid black;
    margin: 10px 3px 20px 3px;

    .description {
      position: absolute;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      top: 0px;
      left: 0px;
      margin: 15px;
      height: 50px;
      width: calc(100% - 30px);
    }

    .expiration_date {
      position: absolute;
      bottom: 30px;
      left: 10px;
      font-size: 12px;
    }

    .price {
      position: absolute;
      bottom: 5px;
      left: 10px;
      left: 10px;
      font-weight: bold;
    }

    .watching {
      position: absolute;
      bottom: 15px;
      right: 10px;
      font-style: italic;
    }
  }
}

@media only screen and (min-width: 768px) {
  .auctions {
    .item {
      margin: 10px 150px 20px 150px;
    }
  }
}
